.container {
    display: grid;
    background-color: #c9965d;
    width: 700px;
    margin-left: 25rem;
    border-radius: 10px;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    opacity: 1px;
}
.login-box {
    margin-left: 150px;
    width: 250px;
    border-radius: 20px;
    margin-top: 75px;
    height: 50px;
    background: #c9965d;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=email] {
    width: 360px;
    margin-left: -10px;
    background: #c9965d;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    margin-top: -10px;
    width: 350px;
    margin-left: -10px;
    background: #c9965d;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 30px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background: #916d44;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    margin-right: 20px;
    margin-left: 40px;
    font-size: 15px;
    color: #353131;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    width: 100px;
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.login-bttn{
    bottom: 40%;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .login-bttn:hover {
    background-color: #1e293b;
    color: #fff;
  }
  
  @media (min-width: 600px) {
    .login-bttn {
        margin-bottom: 50px;
      font-size: 1.125rem;
      padding: 1rem 2rem;
    }
  }