#mySidebar {
    z-index: 3;
    width: 250px;
}

#myFont {
    font-weight: bold;
}

.user-name {
    font-weight: bold;
    font-size: 30px;
    text-align: right;
    margin-left: 900px;
}

.link-menu-section {
    text-decoration:none;
}
